@import 'colors';
@import 'utilities';

$fonts-base-location: './assets/fonts';

$weights: (
        thin: 100,
        extralight: 200,
        light: 300,
        regular: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
        extrabold: 800,
        heavy: 900
);

$root-font-size-mobile: 16px;
$root-font-size: 18px;

$scale-factor: 1.25;

$base-font-size: 1rem;
$base-line-height: 1.5rem;
$base-line-height-pixels-mobile: strip-unit($base-line-height) * strip-unit($root-font-size-mobile) * 1px;
$base-line-height-pixels: strip-unit($base-line-height) * strip-unit($root-font-size) * 1px;

$font-sizes: (
        xsmall: $base-font-size * 1 / ($scale-factor * $scale-factor),
        small: $base-font-size * 1 / $scale-factor,
        regular: $base-font-size,
        large: $base-font-size * $scale-factor,
        xlarge: $base-font-size * $scale-factor * $scale-factor,
        xxlarge: $base-font-size * $scale-factor * $scale-factor * $scale-factor
);

$line-height-overrides: ();

@function font-weight($weight) {
  @return map-get($weights, $weight);
}

@function font-size($size) {
  @return map-get($font-sizes, $size);
}

@function line-height($size) {
  $font-size: font-size($size);

  $line-height: ceil($font-size / $base-line-height) * $base-line-height;

  @return $line-height;
}

@mixin typography($size) {
  font-size: font-size($size);
  line-height: line-height($size);
}

@mixin inherit-typography() {
  font-size: inherit;
  line-height: inherit;
}

@mixin h1() {
  @include typography('xxlarge');
  color: $color-secondary-text;
  font-weight: font-weight('light');

  @media #{$mediaQuery-retina-display} {
    font-weight: font-weight('extralight');
  }
}

@mixin h2() {
  @include typography('xlarge');
  color: $color-secondary-text;
  font-weight: font-weight('light');
  letter-spacing: 2.5px;
  text-transform: uppercase;

  @media #{$mediaQuery-retina-display} {
    font-weight: font-weight('extralight');
  }
}

@mixin h3() {
  @include typography('large');
  color: $color-secondary-text;
  font-weight: font-weight('light');
}

@mixin h4() {
  @include typography('regular');
  color: $color-secondary-text;
  font-weight: font-weight('light');
}

@mixin h5() {
  @include typography('regular');
  color: $color-secondary-text;
  font-weight: font-weight('regular');
}

@mixin h6() {
  @include typography('regular');
  color: $color-secondary-text;
  font-weight: font-weight('medium');
}

@mixin paragraph() {
  @include typography('regular');
  font-weight: font-weight('regular');
  margin-bottom: $base-line-height;
  text-align: justify;
}

@mixin inherit-font-colors() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: inherit;
  }
}
