@import 'mediaQueries';

$total-columns: 12;
$column-width: 100% / $total-columns;

@mixin grid($padded: false) {
  @media #{$mediaQuery-ld} {
    display: flex;
    flex-flow: row wrap;
  }

  @if ($padded) {
    margin: -10px;

    > * {
      padding: 10px;
    }
  }
}

@mixin grid-item($columns, $stretchContents: false) {
  flex: 1 1 auto;

  @if ($stretchContents) {
    align-content: stretch;
    align-items: stretch;
    display: flex;
  }

  @media #{$mediaQuery-ld} {
    flex: 1 0 ($column-width * $columns);
    max-width: $column-width * $columns;
  }
}
