$mediaQuery-retina-display: '(min-resolution: 192dpi)';

$mediaQuery-tablet: '(min-width: 480px)';
$mediaQuery-ld: '(min-width: 768px)';
$mediaQuery-sd: '(min-width: 1024px)';
$mediaQuery-md: '(min-width: 1280px)';
$mediaQuery-hd: '(min-width: 1440px)';
$mediaQuery-uhd: '(min-width: 1920px)';
