@import '../styles/theme';

.cw-app-root {
  &--header {
    height: $header-height;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
  }

  &--main {
    flex: 1 1 auto;
  }

  &--footer {
    flex: 0 0 auto;
  }
}
