@import '../styles/theme';

.cw-header {
  @include page-side-padding;
  background-color: $color-primary;
  border-bottom: 1px solid $color-secondary;
  box-shadow: $shadow-depth-1;
  color: $color-text-inverted;
  height: 100%;

  &--container {
    display: flex;
    height: 100%;
  }

  &--branding {
    align-items: center;
    display: flex;
    flex: 1 1 auto;

    @media #{$mediaQuery-ld} {
      flex: 0 1 auto;
    }
  }

  &--title {
    @include typography(regular);
    color: inherit;
    font-weight: font-weight(extralight);
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;

    &__bold {
      font-weight: font-weight('semibold');

      @media #{$mediaQuery-retina-display} {
        font-weight: font-weight('medium');
      }
    }
  }

  &--main-links {
    display: none;

    @media #{$mediaQuery-ld} {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }

  &--dropdown-button {
    background-color: transparent;
    border: none;

    @media #{$mediaQuery-ld} {
      display: none;
    }
  }

  &--main-link,
  &--dropdown-button,
  &--dropdown-link {
    @include paragraph(false);
    line-height: $base-line-height * 2;
    padding: 0 10px;
    transition: standard-transition(background-color), standard-transition(color);

    &__active,
    &:hover,
    &:active {
      background-color: $color-white;
      color: $color-primary-dark;
    }
  }

  &--dropdown-button {
    width: $base-line-height * 2;
  }

  &--dropdown-icon {
    display: block;
    height: $base-font-size;
    margin: 0 auto;
    width: $base-font-size;
  }

  &--dropdown-links {
    background-color: $color-primary;
    border-bottom: 1px solid $color-secondary;
    box-shadow: $shadow-depth-1;
    left: 0;
    position: fixed;
    right: 0;
    top: $header-height;
    z-index: 1;

    @media #{$mediaQuery-ld} {
      display: none;
    }
  }

  &--dropdown-link {
    @include page-side-padding;
    display: block;
  }

  &--dropdown-backdrop {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: $header-height;
    background-color: transparentize($color-black, .8);
  }
}
