@import '../styles/theme';

@keyframes cw-loading-ping {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(1);
  }
}

.cw-loading {
  height: 100%;
  position: relative;

  &--circle-1,
  &--circle-2,
  &--circle-3 {
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-name: cw-loading-ping;
    animation-timing-function: ease-in-out;
    border-radius: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &--circle-1 {
    background-color: transparentize($color-primary-dark, .75);
  }

  &--circle-2 {
    animation-delay: 300ms;
    background-color: transparentize($color-primary-dark, .75);
  }

  &--circle-3 {
    animation-delay: 600ms;
    background-color: transparentize($color-primary-dark, .75);
  }
}
