@import '../styles/theme';

.cw-project-item {
  &--image {
    display: block;
    margin: 0 auto $base-line-height;
    max-height: $base-line-height * 4;
    max-width: 100%;
  }

  &--link {

  }
}
