@import '../styles/theme';

.cw-projects-list {
  &--loading {
    height: $base-line-height * 3;
    margin: ($base-line-height * 2) auto;
    width: $base-line-height * 3;
  }

  &--items-list {
    @include grid(true);
    padding-bottom: $base-line-height;
    padding-top: $base-line-height;

    @media #{$mediaQuery-ld} {
      padding-left: $page-side-padding-ld;
      padding-right: $page-side-padding-ld;
    }
  }

  &--item-container {
    @include grid-item(4, true);
    padding: 10px;
  }

  &--item {
    @include panel;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }
  }
}
